@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  color: #525252;
  font-weight: 300;
  margin: 0px;
  font-size: max(1rem, 1.6vw);
}

.wrap {
  border: 1.5px solid #f4d0d0;
  box-shadow: 0px 0px 10px 2px #f7e9e9;
  position: relative;
}

.center {
  text-align: center;
}

.hero {
  margin-top: 5vw;
  width: 100%;
  height: 59dvw;
  background-image: url(/images/hrad.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 1vw;
}

.menu {
  height: 5vw;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  display: flex;
  justify-content: center;
  border-left: 1.5px solid #f4d0d0;
  border-right: 1.5px solid #f4d0d0;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  align-items: center;
}
.menu__item {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  color: #525252;
  font-size: max(0.9rem, 1.36vw);
  padding: 0.2vw 0.5vw;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #f7e9e9;
}
.menu__item:hover {
  background-color: #f7e9e9;
}
.menu__item + .menu__item {
  margin-left: 5vw;
}

.title {
  font-size: 8vw;
  font-weight: 200;
  margin: 0;
  color: #525252;
  font-family: "Kaushan Script", cursive;
  line-height: 1.2;
}
.title__wrap {
  position: absolute;
  bottom: 0;
  right: 7%;
  width: 72%;
}
.title__right {
  display: block;
  text-align: right;
}

h2, .text-bigger {
  font-weight: 300;
  font-size: max(1.5rem, 2.4vw);
  text-align: center;
}

@media screen and (min-width: 800px) {
  .wrap {
    width: 60%;
    margin: auto;
  }
  .menu {
    width: 60%;
    left: 20%;
  }
  .hero {
    height: 35.4dvw;
  }
  .title {
    font-size: 4.74vw;
  }
  ¨ .card {
    padding: 2vw;
  }
}
.pad {
  padding: 2vw 7vw;
}

.fair, .lectures {
  border-top: 1.5px solid #f4d0d0;
}

.btn {
  display: block;
  align-self: center;
  width: 10em;
  margin: 2em auto 2em;
  text-align: center;
  cursor: pointer;
  font-family: Arial, serif;
  font-size: 24px;
  padding: 10px 30px;
  text-decoration: none;
  background-color: rgb(244, 204, 204);
  border-radius: 6px;
  color: #525252;
}
.btn:hover {
  background-color: #e4b3b3;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info__cite {
  font-weight: 300;
  font-size: max(1.2rem, 2vw);
  text-align: center;
  margin-top: 1vw;
}
.main-info__images {
  width: 90%;
  margin: 2em auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10vw;
}
.main-info__img {
  width: 100%;
}
.main-info__link {
  display: flex;
  align-items: center;
}
.main-info__link:hover {
  background-color: #f7e9e9;
  border-radius: 5px;
  border: 1.5px solid #f4d0d0;
}
.main-info__when {
  display: flex;
  justify-content: center;
  gap: 10vw;
  background-color: #f4d0d0;
  padding: 0.5em;
  margin-block: 3vw;
  border-radius: 6px;
}

.lectures {
  background-color: #f7e9e9;
}

.card {
  display: grid;
  grid-template-columns: 17% 1fr;
  gap: 3vw;
  align-items: flex-start;
  border-radius: 10px;
  border: 1.5px solid #f4d0d0;
  padding: 3vw;
  background-color: #f7e9e9;
  box-shadow: 0px 0px 10px 2px #f7e9e9;
}
.card + .card {
  margin-top: 4vw;
}
.card--reverted {
  background-color: white;
}
.card__img {
  width: 100%;
  border-radius: 50%;
  border: 1.5px solid #f4d0d0;
  opacity: 0.8;
  aspect-ratio: 1/1;
}
.card__text {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  font-size: max(1rem, 1.6vw);
  gap: 1vw;
}
.card__title {
  margin: 0;
  font-weight: 400;
  font-size: max(1.2rem, 2vw);
  align-self: center;
}
.card__less {
  display: none;
  color: #f89090;
}
.open .card__less {
  display: inline-block;
}
.card__more {
  display: inline-block;
  color: #f89090;
}
.open .card__more {
  display: none;
}
.card__description {
  display: none;
}
.open .card__description {
  display: block;
}
.card p {
  margin-block: 0;
}
.card__box {
  display: none;
  margin: 0 auto;
  width: 100%;
}

.additional-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-info__item {
  text-decoration: none;
  color: #525252;
  font-size: max(0.9rem, 1.36vw);
  color: #f89090;
}
.additional-info__img {
  width: 90px;
}
.additional-info__social-media {
  display: flex;
  gap: 1rem;
}

.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
}
.partners__img {
  max-width: 150px;
}

.icon {
  width: max(30px, 3vw);
  height: max(30px, 3vw);
  justify-self: center;
  flex-grow: 0;
  display: block;
  color: #f89090;
}
.icon:hover {
  background-color: #f7e9e9;
  border-radius: 0.5vw;
}

.footer {
  text-align: center;
  font-size: max(0.9rem, 1.36vw);
  padding: 5px;
}/*# sourceMappingURL=style.css.map */