$c-primary: #f4d0d0;
$c-secondary: #525252;
$c-lighter: #f9e8e8;
$c-extralight: #f7e9e9;
$c-darker: #e4b3b3;
$c-dark: #f89090;
$c-inactive: #b9b9b9;



$shadow: 0px 0px 10px 2px $c-extralight;
$border: 1.5px solid $c-primary;

$f-growing-xs: max(0.7rem, 1.1vw);
$f-growing-s: max(0.9rem, 1.36vw);
$f-growing-m: max(1rem, 1.6vw);
$f-growing-x: max(1.2rem, 2vw);
$f-growing-l: max(1.5rem, 2.4vw);
$f-growing-xl: max(2rem, 4vw);

$pic-growing-l: max(300px,20vw);
$pic-growing-s: clamp(100px,20vw, 200px);

$m-tablet: 610px;
$m-PC: 800px;

$percentage: 70%;

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}



body {
  font-family: 'Barlow Condensed', sans-serif;
  color: $c-secondary;
  font-weight: 300;
  margin: 0px;
  font-size: $f-growing-m;
}
.wrap {
  border: $border;
  box-shadow: $shadow;
  position: relative;
}
.center {
  text-align: center;
}

.hero {
  margin-top: 5vw;
  width: 100%;
  height: 59dvw;
  background-image: url(/images/hrad.png );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 1vw;

}

.menu {
  height: 5vw;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.85);
  width:100%;
  display: flex;
  justify-content: center;
  border-left:  $border;
  border-right: $border;
  position: fixed;
  top: 0  ;
  left: 0;
  margin: auto;
  z-index: 1;
  align-items: center;
  
  &__item {
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: center;
    color: $c-secondary;
    font-size: $f-growing-s;
    padding: 0.2vw 0.5vw;
    border-radius: 5px;
    box-shadow: $shadow;

    &:hover {
      background-color: $c-extralight;
    }
    

    &+ & {
      margin-left: 5vw;
    }
  }
}

.title {
  font-size: 8vw;
  font-weight: 200;
  margin: 0;
  color: $c-secondary;
  font-family: 'Kaushan Script', cursive;
  line-height: 1.2;

  &__wrap {
    position: absolute;
    bottom: 0;
    right: 7%;
    width: 72%;
  }

  &__right {
    display: block;
    text-align: right;
  }
}

h2 {
  font-weight: 300;
  font-size: $f-growing-l;
  text-align: center;
}
@media screen and (min-width:$m-PC) {
  .wrap {
    width: 60%;
    margin: auto;
  }

  .menu {
    width: 60%;
    left: 20%;
  }

  .hero {
    height: calc(59dvw * 0.6);
  }

  .title {
    font-size: calc(7.9vw * 0.6);
  }¨

  .card {
    padding:2vw
  }
}


.pad {
  padding: 2vw 7vw;
}

.content section+ section{
  border-top: $border;
}

.btn {
  display: block;
  align-self: center;
  width: 10em;
  margin: 2em auto 2em;
  text-align: center;
  cursor: pointer;
  font-family: Arial, serif;
  font-size: 24px;
  // font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  background-color: rgb(244, 204, 204);
  border-radius: 6px;
  color: $c-secondary;

  &:hover { 
    background-color: $c-darker;
    }
}
.main-info {
  &__cite {
    font-weight: 300;
    font-size: $f-growing-x;
    text-align: center;
    margin-top: 1vw;
  }
  &__images {
    width: 70%;
    margin: 2em auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vw;
  }

  &__img {
    width: 100%;
  }
  &__link {
    display: flex;
    align-items: center;
    
    &:hover { 
    background-color: $c-extralight;
    border-radius: 5px;
    border: $border;
    }
  }
 
  &__when {
    display: flex;
    justify-content: center;
    gap: 10vw;
    background-color: $c-primary;
    padding: 0.5em;
    margin-block: 3vw;
    border-radius: 6px;
  }
}

.lectures {
  background-color: $c-extralight;
}

.card {
  display: grid;
  grid-template-columns: 17% 1fr;
  gap: 3vw;
  align-items:flex-start;
  
  border-radius: 10px;
  border: $border;
  padding: 3vw;
  background-color: $c-extralight;
  box-shadow: $shadow;

  &+& {
    margin-top: 4vw;
  }

  &--reverted {
    background-color: white;
  }

  &__img {
    width: 100%;
    border-radius: 50%;
    border: $border;
    opacity: 0.8;
    aspect-ratio: 1 / 1;
  }

  &__text {
    text-align:left;
    display: grid;
    grid-template-columns: 1fr;
    font-size: $f-growing-m;
    gap: 1vw;
  }
  &__title {
    margin: 0;
    font-weight: 400;
    font-size: $f-growing-x;
    align-self: center;
  }

  &__less {
    display: none;
    color: $c-dark;

    .open & {
      display:inline-block;
    }
  }

  &__more {
    display: inline-block;
    color: $c-dark;

    .open & {
      display:none;
    }

  }

  &__description {
    display: none;

    .open &{
      display: block;
    }
  }

  & p {
    margin-block: 0;
  }
  

  &__box {
    display: none;
    margin: 0 auto;
    width: 100%;
  }


}

.additional-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    text-decoration: none;
    color: $c-secondary;
    font-size: $f-growing-s;
    color: $c-dark
  }
  &__img{
    width: 90px;
  }
}


.footer {
  text-align: center;
  font-size: $f-growing-s;
  padding: 5px;
}


