---
layout: layouts/main.njk
---

<div class="content">
    <section class="main-info pad">
        <h2 class="main-info__title">Přednášky, jarmark, laktační poradentví, jóga, dětský koutek, občerstvení...</h2>
        <div class="main-info__when">
            <div class="main-info__date">18. srpna 2024</div>
            <div class="main-info__hour">9:00 - 17:00</div>
        </div>
        <div class="main-info__images">
            <a class="main-info__link" href="https://hradhnevin.cz/" target="_blank"><img class="main-info__img" src="/images/hnevin-logo.png" alt="logo hradu hněvín"></a>
            <a class="main-info__link" href="https://kojorady.cz/" target="_blank"><img class="main-info__img" src="/images/kojorady-logo.png" alt="logo projektu kojorady"></a>
            <a class="main-info__link" href="https://www.mamila.sk/sk/uvod/" target="_blank"><img class="main-info__img" src="/images/Mamila.png" alt="logo Mamila"></a>
        </div>
    </section>



    
    
    <section class="lectures pad" id="lectures">
        <h2>PŘEDNÁŠEJÍCÍ</h2>
        <p class="center">Program pro vás chystáme. Sledujte nás pro další info… </p>

        {% for prednasejici in collections.prednasky %}
            <div class="card card--reverted">
                <div class="card__image">
                    <img class="card__img" src="{{prednasejici.data.foto}}" alt="{{prednasejici.data.title}}">
                </div>
                <div class="card__text">
                    <h3 class="card__title">{{prednasejici.data.title}}</h3>
                    <div class="card__toggler"><span class="card__more">♡ více o mne...</span><span class="card__less">...méně</span> </div>
                    <div class="card__description">
                        {{prednasejici. content|safe}}
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>


    <section class="fair pad" id="fair">
        <h2>JARMARK</h2>

        <p class="center">Seznam všech stánků vám brzy představíme. Sledujte nás, ať vám nic neunikne…</p>


        {% for prodavajici in collections.jarmark %}
            <div class="card">
                <div class="card__image">
                    <img class="card__img" src="{{prodavajici.data.foto}}" alt="{{prodavajici.data.title}}">
                </div>
                <div class="card__text">
                    <h3 class="card__title">{{prodavajici.data.title}}</h3>
                    <div class="card__toggler"><span class="card__more">♡ více o mne...</span><span class="card__less">...méně</span> </div>
                    <div class="card__description">
                        {{prodavajici. content|safe}}
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>
</div>

        