html {
    box-sizing: border-box;
  }

  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body {
    text-align: center;
    background-color: #f4d0d0;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    font-weight: 300;
    margin-top: 0px;
}

p {
    font-size: 3vw;
}

.content {
    display: grid;
    height: 100vh;
    align-content: center;
}