<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex">

    <meta name="title" content="Světový týden kojení na Hněvíně" />
    <meta name="description" content="{{description}}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#ecadad">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ecadad">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#f4d0d0">

   
    <!-- Primary Meta Tags -->
	<title>Světový týden kojení na hradě Hněvín, Most</title>
    <meta name="title" content="Světový týden kojení na hradě Hněvín, Most" />
    <meta name="description" content="{{description}}">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="svetovytydenkojeni.cz" />
    <meta property="og:title" content="Světový týden kojení na hradě Hněvín, Most" />
    <meta property="og:description" content="{{og-description}}" />
    <meta property="og:image" content="https://svetovytydenkojeni.cz/images/hero-complete.png"/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="svetovytydenkojeni.cz" />
    <meta property="twitter:title" content="Světový týden kojení na hradě Hněvín, Most" />
    <meta property="twitter:description" content="{{description}}" />
    <meta property="twitter:image" content="https://svetovytydenkojeni.cz/images/hero-complete.png"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

	
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/javascript/script.js"></script> 
    <!--CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <div class="wrap">

        {% include "partials/menu.njk" %}

        <section class="hero" id="introduction">
            <div class="title__wrap">
                <h1 class="title">Světový týden<br>
                <span class="title__right">kojení na Hněvíně</span></h1>
            </div>
        </section>

        {{content|safe}}

        <section class="footer">
            Copyright: Tereza Beránková 2024
        </section>

    </div>

    <!-- cms -->
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>
